<!-- views/lista.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Pacotes</title>
</head>
<body>
  <h1>Lista de Pacotes</h1>

  <ul>
    <% pacotes.forEach(pacote => { %>
      <li>
        <%= pacote.detalhes_pacote %> - <%= pacote.destino %> - <%= pacote.preco %> - <%= pacote.nome_pacote %> - <%= pacote.data_viagem %> - <%= pacote.nome_fornecedor %> - <%= pacote.contato_fornecedor %> - <%= pacote.sevico_fornecido %>
        
        <!-- Formulário separado para cada pacote -->
        <form action="/compra" method="post">
          <input type="hidden" name="id_pacote" value="<%= pacote.id_pacote %>">
          <button type="submit">Comprar</button>
        </form>
        
        <!-- Botão para ver os comentários -->
        <a href="/comentarios/<%= pacote.id_pacote %>">
          Comentarios
        </a>
      </li>
    <% }); %>
  </ul>
  
  <a href="/">Voltar</a>
</body>
</html>
